body {
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
    display: inline;
} 

h1 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
    text-decoration: none;
    color: #393939;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
    margin: 0;
  }

  .components .title-box {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
    text-transform: uppercase;
  } 
  
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.063rem;
    font-weight: 300;
    text-decoration: none;
    color: #393939;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
}

.nav-bar h2 a {
    text-decoration: none;
    color: #393939;         
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar__heading {
    display: flex;
    align-items: center;
}
.nav-bar--list {
    display: flex;
}

.nav-bar__list--items {
    display: flex;
    flex-direction: row;
    gap: 41px;
}

.nav-bar--list {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
} 

.nav-bar--list li a {
    text-decoration: none;
    margin: 0;
}

.nav-bar--list li a {
    color:#393939;
}

.nav-bar--list li .menu {
    color:#393939;
}

.nav-bar--list li .shop-now {
    color: #5BACC3;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #5BACC3;
}

.menu_description {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.313rem;
    font-weight: 400;
}


