header {
    background-color: #FFF0ED;
}

.components .title-box {
    width: 18.75rem;
    height: 12.5rem;
    background-color: #393939;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.components .coffee-img {
    width: 100%;
    height: 43.75rem;
    background-image: url(../Assets/coffee-circle.jpg);
    background-position: center;
    background-size: cover;
}

.sub-navigation {
   background-color: #393939;
   text-align: center;
   padding: 0.5rem;
   margin: 0;
}
.sub-navigation li a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.313rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.sub-navigation ul li {
    display: inline-block;
    margin: 0.6rem 0;
    padding: 0 0.6rem;
    border-left: 0.2rem #5BACC3 solid;
}

.menu {
    margin-top: 10px;
}

.hot-drinks {
    background-color: #FFF0ED;
    padding: 15px 30%;
    text-align: center;
}

.cold-drinks {
    background-color: #F7F7F7;
    padding: 15px 30%;
    text-align: center;
}

.pastries {
    background-color: #FFF0ED;
    padding: 15px 30%;
    text-align: center;
}



